@use "base/base";
@use "utils/variables" as *;
@use "components/button";

body {
  background-color: $cream;
}

main {
  background-color: $white;
  margin: 0 auto;
  width: 90%;
  border-radius: 0.5rem;
  margin-top: 80px;
}

.card-image img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-information {
  padding: 2rem;
  h2 {
    color: $grey;
  }
  h1 {
    padding: 1.5rem 0;
  }
}

.card-description {
  color: $grey;
}

.card-pricing {
  margin: 1.5rem 0;
}

.card-pricing p {
  display: inline;
}
