@use "base/base";
@use "utils/variables" as *;
@use "utils/mixins";

body {
  background-color: $cream;
}

main {
  background-color: $white;
  margin: 0 auto;
  width: 90%;
  border-radius: 0.5rem;
  margin-top: 80px;
}

.card-image img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card {
}

.card-information {
  padding: 2rem;
  h2 {
    color: $grey;
  }
}
