/* Contains: Reset, General and Typography styles*/

/* Reset */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2 {
  font-weight: normal;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.attribution {
  display: none;
}

button {
  border: none;
  cursor: pointer;
}
