/* Contains: Reset, General and Typography styles*/

/* Reset */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.attribution {
  display: none;
}
